<!DOCTYPE html> <!--Объявление типа документа-->
<html>
  <head> <!--Заголвок страницы в браузере-->
    <meta charset="utf-8"> <!--Кодировка страницы-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--Адаптация страницы под мобильные устройства-->
    <title>Task Tracker</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> <!--Подключение библиотеки Bootstrap-->

    <!--Основное содержание страницы-->
  </head>
  <body>
    {% csrf_token %} <!--Токен для защиты от CSRF атак-->
      <div class="container"> <!--Контейнер для размещения содержимого страницы-->
        <br>
        <h2><strong>Task Tracker Кистаулова Е.А. 📝</strong></h2> <!--Заголовок страницы-->

        <br>
        <!--Список, содержащий задачи -->
         <ul class="list-group">

            <li class="list-group-item mb-2"> 
              1. Позавтракать
            </li> 
            <li class="list-group-item mb-2">
              2. Накраситься
            </li> 
            <li class="list-group-item mb-2">
              3. Дождаться автобус
            </li> 
            <li class="list-group-item mb-2">
              4. Прийти в университет
            </li> 
            <li class="list-group-item mb-2">
              5. Приехать в общагу
            </li> 
            <li class="list-group-item mb-2">
              6. Собрать чемодан
            </li> 
            <li class="list-group-item mb-2">
              7. Приехать на вокзал
            </li> 
            <li class="list-group-item mb-2">
              8. Сесть на поезд
            </li> 

        </ul>



      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 

    <!--Конец основного содержания страницы-->
  </body>
</html>